* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --theme-color: #2c3333;
}
body {
  background-color: white;
}
h1 {
  line-height: 2;
  background-color: var(--theme-color);
  color: white;
  margin-bottom: 20px;
}
hr {
  width: 10%;
  border: dotted #ccc 10px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: auto;
  margin-top: 30px;
  opacity: 0.5;
}
input[type="text"] {
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 24px;
  padding: 8px;
}
::placeholder {
  color: #a9a9ac;
  font-weight: 100;
  opacity: 0.45;
}
input[type="text"]:focus {
  outline: none;
  font-weight: bold;
}
a {
  color: inherit;
}
a:hover {
  color: black;
}
.main-container {
  text-align: center;
}
.main-container > div:first-of-type > p {
  margin: 0;
  color: #a0a0a0;
}

.container {
  border: 1px #b3b3b3 solid;
  border-radius: 10px;
  margin: 30px 20px;
  padding: 20px 10px;
  box-shadow: 0 2px 5px #ccc;
}
.container > p {
  margin-top: 20px;
}
.eligibility {
  margin: auto;
  width: 92%;
  height: 55px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.eligibility > div {
  border: 2px solid var(--theme-color);
  height: 50px;
}
.eligibility > div:first-of-type {
  width: 230px;
  border-radius: 10px 0 0 10px;
}
.eligibility > div:last-of-type {
  background-color: var(--theme-color);
  border-radius: 0 10px 10px 0;
  width: 45px;
}

.card-border {
  height: 360px;
  width: 270px;
  border: #eef1f5 1px solid;
  border-radius: 10px;
  padding: 20px 10px;
  margin-top: 5px;
  text-align: center;
  box-shadow: 0 2px 5px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.card-border > .card-text {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card-border > .card-text > p {
  margin-top: 5px;
  font-size: 16px;
  color: #707070;
  margin: 0;
}
.card-border > .card-text > p:first-child {
  font-size: 25px;
  font-weight: 600;
  color: #000000;
}

.card-border > .card-logo {
  color: #707070;
  display: flex;
  gap: 10px;
}

.out-circle {
  height: 156px;
  width: 156px;
  background-color: #eef1f5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in-circle {
  height: 150px;
  width: 150px;
  background-color: #000000;
  border-radius: 100%;
  /* background-image: url("images/avatar.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  border: #eef1f5 solid 1px;
  position: relative;
}
.in-circle > img {
  border-radius: 34px;
  width: 54px;
  height: 36px;
  position: absolute;
  bottom: -15px;
  left: 47px;
}

.card-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  background-color: var(--theme-color);
  color: white;
  padding-top: 35px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
